RABBITMQ_USERNAME=notadmin
RABBITMQ_PASSWORD=2ee8b1d2b11048f7979fdbc0408036c9

RABBITMQ_MANAGEMENT_ALLOW_WEB_ACCESS=true

# RABBITMQ_NODE_NAME=
# RABBITMQ_NODE_PORT_NUMBER=5672
# RABBITMQ_MANAGEMENT_BIND_IP=0.0.0.0
# RABBITMQ_MANAGEMENT_PORT_NUMBER=15672
